* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(228, 198, 203, 0.4);
}
.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 400px;
  height: 400px;
  border: 1px solid rgba(26, 27, 27, 0.842);
  margin: 100px auto 30px;
  border-radius: 6px;
}
.square > p {
  text-align: center;
  /* padding-bottom: 50px; */
  font-size: 2rem;

  color: rgba(26, 27, 27, 0.842);
}
.color-input {
  display: flex;
  justify-content: center;
}

label {
  justify-content: baseline;
}
input {
  padding: 15px;
  font-size: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 999px;
  box-shadow: 0px 0px 10px -5px #000000;
}

input::placeholder {
  color: rgba(26, 27, 27, 0.404);
}
input:focus {
  outline: none;
}
